ApiProxy.ApiControllers/obj/
ApiProxy.Contracts/bin/
ApiProxy.Host/bin/
ApiProxy.Host/obj/
ApiProxy.Owin/bin/
ApiProxy.Owin/obj/
ApiProxy.Xml/obj/
ApiProxy/bin/
ApiProxy/packages/
ApiProxy.Contracts/obj/
ApiProxy.ApiControllers/bin/
.vs/ApiProxy/v14/.suo
.vs/
ApiProxy.Xml/bin/
Stage/
packages/
ApiProxy/obj/Debug/ApiProxy.csprojResolveAssemblyReference.cache
ApiProxy/obj/
ApiProxy.ApiProxyHttpClient/bin/
ApiProxy.ApiProxyHttpClient/obj/
